.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .paper {
    width: 90%;
    height: 70%;
    text-align: center;
    border-top: solid;
    border-color: rgb(238, 236, 236);
    padding: 3%;
    border-width: 35px;
  }
.name-field{
    margin: 5px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    width: 20vw;
    height: 6vh;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 14px;
    border:solid 1.5px;
    border-color: rgb(209, 207, 207);
}
.name-field::placeholder {
    color: #a9a8a8;
  }
.name-field:hover{
    border-color:black;
}
.name-field:focus {
    outline: none;
    border-color: #1976D2;
    border-width: 1.8px;
  }
#password{
  background-color: white !important;
  height: 0;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    margin-bottom: 5px;
height: 6vh;
    width: 20vw;
    background-color: white !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
   padding-left: 3px;
   background-color: white !important
}
#logIn-button{
width: 20vw;
background-color: #FAE282;
box-shadow:none;
}
input:-internal-autofill-selected {
    background-color: white;
}
.signIn{
    color: #3498db;
}
