.pink{
  background-color: pink;
}
.lightcoral{
  background-color: lightcoral;
}
.lightblue{
  background-color: #48d1cc;
}
.lightgreen{
  background-color: lightgreen;
}
.lightyellow{
  background-color: lightyellow;
}




/* New, cancelled, approved, charging, packing, delivered */